 .container{
     flex:1;
    background: rgba(115, 181, 238, 0.799);
 
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
  } 

  .wTitle{
    font-size: 20px;
    color: #122444;
    margin-bottom: 10px;
    text-align: center;
  }

  .wItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    align-items: center;
  }

  .wItem>input{
    height: 20px;
    border: none;
    outline: none;
    padding: 5px;
  }

 